## Simulating sealed bid auctions
Sealed bid auctions are auctions which have static bids and fixed inventory

### 1. Importing Libraries

In [1]:
import pandas as pd

from bids import Bids
from sealed_bid_auctions import SealedBidAuctions

In [2]:
# Display formatting to show multiple data frames side by side
# https://stackoverflow.com/a/38801975
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

### 2. Initializing inventory and bids

In [3]:
inventory_qty = 200

In [4]:
# Initalizing bids for analysis
bids = Bids()

bids.add_bid(user_name='a',qty=100, price=10,)
bids.add_bid(user_name='b',qty=70, price=3,)
bids.add_bid(user_name='c',qty=50, price=7,)
bids.add_bid(user_name='d',qty=150, price=3,)


display('Bids:', bids.get_bids_sorted_by_price())
display('Price Levels:', bids.get_price_levels())

'Bids:'

  User  Quantity  Price
0    a       100     10
1    c        50      7
2    b        70      3
3    d       150      3

'Price Levels:'

   Price  Quantity
0     10       100
1      7        50
2      3       220

### 3. Simulating various sealed bid auction mechanisms

In [5]:
# Setting up sealed bid auction
auctions = SealedBidAuctions(bids=bids.get_price_levels(), 
                    inventory_qty=inventory_qty, 
                    price_sorted_bids=True,
                   )

In [6]:
# Only highest bid wins the allocation
winning_bids = auctions.first_price_sealed()
winning_bids = pd.DataFrame(winning_bids)
display(winning_bids)

   Quantity  Price
0       100     10

In [7]:
# Only highest bid wins the allocation with second highest price
winning_bids = auctions.second_price_sealed()
winning_bids = pd.DataFrame(winning_bids)
display(winning_bids)

   Quantity  Price
0       100      7

In [8]:
# Allocation happens on basis of highest price given inventory is available
winning_bids = auctions.dutch_auction()
winning_bids = pd.DataFrame(winning_bids)
display(winning_bids)

   Quantity  Price
0       100     10
1        50      7
2        50      3

In [9]:
# Highest price descending auction with minimum allocation price replacing bid price
winning_bids = auctions.min_price_dutch_auction()
winning_bids = pd.DataFrame(winning_bids)
display(winning_bids)

   Quantity  Price
0       100      3
1        50      3
2        50      3

In [10]:
# Highest price descending auction with bid price = min(bid price, weighted average price)
winning_bids = auctions.hybrid_dutch_auction()
winning_bids = pd.DataFrame(winning_bids)
display(winning_bids)

   Quantity  Price
0       100    7.5
1        50    7.0
2        50    3.0